/* a:link{
    color: black;
} */

*{
  font-family: 'Kanit', sans-serif;
  font-size: large;
  
}

svg{
    color: black;
}

h1 {
  font-family: 'Signika', sans-serif;
}

.pic{
  position: relative;
}

.picture_main{
  width: 100vh;
  position: absolute;
  left: -50%;
  bottom: 14%;
}

.name{
  font-family: 'Signika', sans-serif;
  font-size:x-large;
  font-weight: bolder; 
  padding: 10px;
}

.message-top-margin{
  margin-top: 30px;
}

.sideIcons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40vh;
    padding-left: 15px; 
  }

  
  .colors{
    display: grid;
    grid-template-columns: 20% 1fr 30%;
    gap: 10px;
    margin-top: 50px;
  }

/* #navbarNavAltMarkup{
  padding-left: 610px;

} */

.buttonDiv{
  text-align: center;
  margin: 30px;
  padding: 20px;
}

.btn-bigger {
  font-size: 5rem; /* Adjust the font size as needed */
  padding: 50px 50px; /* Adjust the padding as needed */
  ;
}