
<%- include('Partials/header.ejs') %>

<!-- hero start -->
<div class="container grid-hero" style=" overflow-x: hidden; height: 90vh;">

  <!-- sidebar Start -->
  <div class="flexIcons" >
    <!-- Instagram icon -->
    <a href="">  
    <img width="50" height="20" src="./images/instagram.svg" alt="">
    <!-- Facebook icon -->
    
    <a href="">
      <img width="50" height="20" src="./images/facebook.svg" alt="">
    </a>

    <!-- Meta icon -->
   <a href="">
    <img width="50" height="20" src="./images/meta.svg" alt="">
   </a>

  </div>
  <!-- Sidebar End -->
 
  <!-- Hero Start -->

  <div class="container message-top-margin ">
    <p>Hi I'm  <span class="name">  Joel </span> </p>
    <br>
    <h1>A Frontend <br> Developer <br> evolving into a Full Stack Developer</h1>
    
    <!-- <p>Message me if you need my services</p> -->
    
  </div>

  <div class="pic">
    <img class="picture_main" src="./images/geto-transparent.png"  alt="a cartoon picture">
  </div>
  <!-- Hero End --> 
</div>

<!-- button start -->
<div class="container buttonDiv">

  <a href="/projects">
    <button type="button" class="btn btn-dark btn-bigger ">Projects</button>
  </a>

  <a href="/resume">
    <button type="button" class="btn btn-light btn-bigger">Resume</button>
  </a>

  <p style="margin-top: 30px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<!-- button end -->

<%- include('Partials/footer.ejs') %>